<!DOCTYPE html>
<html ng-app="app">
	<head>
		<link href="lib/ionic/release/css/ionic.css" rel="stylesheet">
		<style type="text/css">
			.scroll {
				height: 100%;
			}
			iframe {
				width: 100%;
				height: 100%;	
			}
			.item-avatar i:first-child, .item-avatar .item-img {
			    position: absolute;
			    top: 15px;
			    left: 15px;
			    font-size: 36px;
			    max-width: 40px;
			    max-height: 40px;
			    width: 100%;
			    border-radius: 4px; 
			}
		</style>
		<script type="text/javascript" src="lib/sails.io.js/dist/sails.io.js"></script>
		<script type="text/javascript">
			io.sails.autoConnect = false;
		</script>
		<script type="text/javascript" src="io.js"></script>
	</head>
	<body>
		<ion-content ng-controller='UsersCtrl'>
			<ion-list>
				<ion-item class="item-avatar"
					ng-class="model.online ? '' : 'offline'" 
					ng-repeat="model in collection.models">
					<i class="icon ion-android-person"></i>
					<h2>{{model.username}}</h2>
				</ion-item>
			</ion-list>
			<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
			</ion-infinite-scroll>
		</ion-content>
	</body>
</html>